.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  /*z-index: 1;*/
  top: 0;
  left: 0;
  /*background-color: #111;*/
  background-color:gray;
  overflow-x: hidden;
  transition: 0.5s;
  /*padding-top: 60px;*/
}

.sidebar a {
  /*padding: 8px 8px 8px 32px;*/
  text-decoration: none;
  /*font-size: 25px;*/
  color: #424242;
  /*display: block;*/
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 8px;
  font-size: 24px;
  /*margin-left: 20px;*/
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  /*padding: 10px 15px;*/
  border: none;
}

.openbtn:hover {
  background-color: #444;
}