/* Main entery */

.sidebar {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  /*padding-top: 60px;*/
}

.sidebar a {
  /*padding: 8px 8px 8px 32px;*/
  float:left;
  width: 128px;
  text-decoration: none;
  /*font-size: 25px;*/
  /*text-align: center;*/
  color: #818181;
  display: block;
  text-decoration: none;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 16px;
  font-size: 28px;
  margin-left: 8px;
}