.modal {
  position: absolute;
  /*z-index: 9;*/
  background-color: var(--modal-content);
  /*background-color: var(--content-color);*/
  text-align: left;
  border: 1px solid #d3d3d3;
  color:var(--modal-text);
}

.modalHeader {
  /*padding: 10px;*/
  cursor: move;
  /*z-index: 10;*/
  background-color:var(--header-color);
  /*background-color: var(--header-color);*/
  /*color: #fff;*/
  color:var(--header-text);
}