/*
https://nextjs.org/learn/basics/assets-metadata-css/global-styles
Global CSS
import '../styles/global.css'
*/

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#__next {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position:fixed;
  top: 0;
  right: 0;
}

/* ========================================== */
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
/* ========================================== */

:root {
  --main-bg-color: brown;
  --bg-color: #fff;  
  --primary-color: #888888;
  --secondary-color: #536390;
  --font-color: #424242;
  --heading-color: #292922;

  --header-color:#999999;
  --header-font:black;
  --content-color:#e6e6e6;
  --content-font:black;
  --footer-color:#cccccc;
  --footer-font:black;

  --icon-color:gray;
  --icon-hover:white;

  --button-hover:black;
  --button-color:white;
}

[data-theme="dark"] {
  --primary-color: #9A97F3;
  --bg-color: #161625;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --heading-color: #818cab;

  --header-color:black;
  --header-font:#999999;
  --content-color:#333333;
  --content-font:#cccccc;
  --footer-color:#4d4d4d;
  --footer-font:#cccccc;

  --button-hover:black;
  --button-color:white;

}

body{
  background-color: var(--bg-color); 
}

.headerpanel{
  background-color: var(--header-color);
  color:var(--header-font);
}

.contentpanel{
  background-color: var(--content-color);
  color:var(--content-font);
}

.footerpanel{
  background-color: var(--footer-color);
  color:var(--footer-font);
}

button{
  background-color: var(--primary-color);
  color: var(--font-color);
}

button:hover{
  background-color: var(--button-hover);
  color: var(--button-color);
}

a{
  color: var(--font-color);
}

label{
  color: var(--font-color);
}

.imgicon {
  background-color: var(--icon-color);
}

.imgicon:hover {
  background-color: var(--icon-hover);
}